{% extends 'base_generic.html' %}

{% load staticfiles %}

{% block title %}
	Login
{% endblock %}

{% block customcss %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{% block heading %}
	<div id="pageHeading">
		<p>Account Management</p>
	</div>
{% endblock %}

{% block content %}
	<div class="registerForm">
		<form method="post">
			{% csrf_token %}

			{% for field in form %}
				<div>
					<label>{{ field.label }}</label>
					{{ field }}
					{{ field.errors }}
				</div>
			{% endfor %}

			<button type="submit" name="submit" class="submitButton">Login</button>
		</form>
	</div>

{% endblock %}
