{% extends 'base_generic.html' %}

{% load staticfiles %}

{% block title %}
	Logout
{% endblock %}

{% block customcss %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{% block heading %}
	<div id="pageHeading">
		<p>Logout</p>
	</div>
{% endblock %}

{% block content %}
  <p>Logged out!</p>
  <a href="{% url 'login'%}">Click here to login again.</a>
{% endblock %}
