<!-- https://docs.djangoproject.com/en/2.1/topics/auth/default/#all-authentication-views -->
{% extends 'base_generic.html' %}

{% load staticfiles %}

{% block title %}
	Login
{% endblock %}

{% block customcss %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<script>
	$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip();
	});
	</script>
{% endblock %}

{% block heading %}

{% endblock %}

{% block content %}

	<!-- Login Here -->
	<div id="register">
		<div class="registerTop">
			<table>
				<tbody>
					<tr>
						<td style="border-bottom: 0;"><a href=""><span>LOGIN</span></a></td>
						<td style="border:0; border-bottom: 1px solid #888; color: #a3dc9c"><a href="{% url 'register' %}"><span>REGISTER</span></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="registerForm">
			<form method="post" action="{% url 'login' %}">
			<input type="hidden" name="next" value="{{ next }}" />
				{% if form.errors %}
					<p>Your username does not exist or your username and password didn't match. Please try again.</p>
				{% endif %}

				{% if next %}
					{% if user.is_authenticated %}
						<p>Your account doesn't have access to this page. To proceed,
						please login with an account that has access.</p>
					{% else %}
						<p>Please login to see this page.</p>
					{% endif %}

				{% endif %}

				{% csrf_token %}

				{% for field in form %}
					<div>
						<label>{{ field.label }}</label>
						{{ field }}
						<strong>{{ field.errors }}</strong>
					</div>
				{% endfor %}

				<button type="submit" name="submit" class="submitButton">Login</button>

				{# Assumes you setup the password_reset view in your URLconf #}
				<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
			</form>
		</div>
	</div>

{% endblock %}
