{% extends "base_generic.html" %}

{% block content %}
    <div class="container">
      <div id="details">
        <h3>Your password has been changed!</h3>
        <p>You should really try to remember it this time. <a href="{% url 'login' %}">Would you now like to log in?</a></p>
      </div>
    </div>
{% endblock %}
