{% extends "base_generic.html" %}

{% block content %}
    <div class="container">
      <div id="details">
        <h3>Forgot password?</h3>
        <form action="" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          {% if form.email.errors %}
            {{ form.email.errors }}
          {% endif %}
  				{% include '_recaptcha.html' %}
          <input type="submit" class="btn btn-default btn-lg" value="Reset password">
        </form>
      </div>
    </div>
{% endblock %}
