{% extends "base_generic.html" %}

{% block content %}
    <div class="container">
      <div id="details">
        <h3>Now what?</h3>
        <p>If an account with that email exists, we have emailed you instructions for setting your password. Check your spam folder if you do not receive this email within a couple minutes.</p>
      </div>
    </div>
{% endblock %}
