{% extends 'base_generic.html' %}

{% load staticfiles %}

{% block title %}
	Challenges
{% endblock %}

{% block customcss %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/challenges.css' %}">
{% endblock %}

{% block heading %}
	<div id="pageHeading">
		<p>Challenges</p>
	</div>
{% endblock %}

{% block content %}

	<!-- challenges display -->
	<div id="challenges">
		<div class="container">
			<div class="challengesSet">

				<div id="promos">
					<div class="heading">
						<p>Promo Posters</p>
					</div>
					{% if data_stego %}
						{% include 'challenge_single.html' with challenge_data=data_stego %}
					{% else %}
						<p style="color: red">No challenges available yet</p>
					{% endif %}
				</div>

				<div id="crypto">
					<div class="heading">
						<p>Cryptography</p>
					</div>
					{% if data_crypto %}
						{% include 'challenge_single.html' with challenge_data=data_crypto %}
					{% else %}
						<p style="color: red">No challenges available yet</p>
					{% endif %}
				</div>

				<div id="for">
					<div class="heading">
						<p>Forensics</p>
					</div>
					{% if data_for %}
						{% include 'challenge_single.html' with challenge_data=data_for %}
					{% else %}
						<p style="color: red">No challenges available yet</p>
					{% endif %}
				</div>

				<div id="pwn">
					<div class="heading">
						<p>Pwning</p>
					</div>
					{% if data_pwn %}
						{% include 'challenge_single.html' with challenge_data=data_pwn %}
					{% else %}
						<p style="color: red">No challenges available yet</p>
					{% endif %}
				</div>

				<div id="re">
					<div class="heading">
						<p>Reverse Engineering</p>
					</div>
					{% if data_re %}
						{% include 'challenge_single.html' with challenge_data=data_re %}
					{% else %}
						<p style="color: red">No challenges available yet</p>
					{% endif %}
				</div>

				<div id="web">
					<div class="heading">
						<p>Web</p>
					</div>
					{% if data_web %}
						{% include 'challenge_single.html' with challenge_data=data_web %}
					{% else %}
						<p style="color: red">No challenges available yet</p>
					{% endif %}
				</div>

			</div>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function() {
			$(".closeIT").click(function() {
				$("#flag_incorrect").remove();
				$("#flag_correct").remove();
				$("#flag_already").remove();
			});
		})
	</script>

{% endblock %}
