{% load challenge_custom %}
						{% for mission in challenge_data %}
							{% if mission.challenge_id in user_solved_by_id %}
								<script type="text/javascript">
									$(document).ready(function() {
										$("#display_{{ mission.challenge_id }}").addClass("solved");
									});
								</script>
							{% endif %}
							<div class="mission" data-toggle="modal" data-target="#{{ mission.challenge_id }}" id="display_{{ mission.challenge_id }}">
								<p>{{ mission.name }}</p>
								<p>{{ mission.points }}</p>
							</div>

							<div class="modal fade" id="{{ mission.challenge_id }}" role="dialog" data-backdrop="static">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close closeIT" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">{{ mission.name }}</h4>
										</div>
										<div class="modal-body">
											<p><b>Challenge Description: </b></p>
											<p>{{ mission.description | safe }}</p>
											{% if mission.hint1 %}
												<p>Hint: {{ mission.hint1 | safe }}</p>
											{% endif %}
											{% if mission.hint2 %}
												<p>Hint: {{ mission.hint2 | safe }}</p>
											{% endif %}
											{% if mission.hint3 %}
												<p>Hint: {{ mission.hint3 | safe }}</p>
											{% endif %}
											{% if mission.file %}
												<p><b>File:</b> <a href="uploads/{{ mission.file }}">download</a></p>
											{% endif %}
											<p><b>Points: </b>{{ mission.points }}</p>
											<p><b>Author: </b>{{ mission.author }}</p>
											<p><b>Solves: </b>{{ mission.solves }}</p>
											{% if mission.first_blood %}
												<p><b>First Solve By: </b>{{ mission.first_blood }}</p>
												<p><b>First Solve Time: </b>{{ mission.first_blood_time }}</p>
											{% endif %}
											{% if mission.challenge_id in user_solved_by_id %}
											<p><b>Your Attempts: </b>{% get_field_from_key_of_dict user_solved mission.challenge_id 'attempts' %}</p>
											<p><b>You Solved at: </b>{% get_pretty_date user_solved mission.challenge_id 'solved_time' %}</p>
											{% endif %}
											<form method="post" id="{{ mission.challenge_id }}_flag_form" action="postflag/">
												{% csrf_token %}
												<input type="text" name="{{ mission.challenge_id }}_flag" class="input_flag" placeholder="Submit Flag" id="{{ mission.challenge_id }}_flag">
												<button type="submit" name="submit" class="input_flag_button">Submit</button>
												<div id="{{ mission.challenge_id }}_flag_div"></div>
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default closeIT" data-dismiss="modal" onClick="window.parent.location.reload();window.close()">Close</button>
										</div>
									</div>
								</div>
							</div>

							<script type="text/javascript">
								$(document).ready(function (){
									$("#{{ mission.challenge_id }}_flag_form").submit(function(event) {
										$.ajax({
											type : "POST",
											url : "postflag/",
											data : $(this).serialize(),
											success : function(response) {
												$("#{{ mission.challenge_id }}_flag_div").html(response)
											}
										});
										event.preventDefault();
									});
								});
							</script>
						{% endfor %}
