{% extends 'base_generic.html' %}

{% load staticfiles %}

{% block title %}
	Team Details
{% endblock %}

{% block customcss %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/team.css' %}">
{% endblock %}

{% block heading %}
<div id="pageHeading">
	<p>Team Score for {{ team.username }}</p>
</div>
{% endblock %}

{% block content %}
<div class="container">

	<div id="team_details">
		<p style="color: #444;"> <b style="font-size: 24px; color: #222">{{ team.points }}</b> points</p>
	</div>

	<div id="solved_challenges">
		{% if solved_challenges %}
			<h3>Solved Challenges</h3>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<td>
								<b>Challenge Name</b>
							</td>
							<td>
								<b>Points</b>
							</td>
						</tr>
					</thead>
					<tbody>
						{% for solve in solved_challenges %}
							<tr>

								<td>
									{{ solve.challenge.name }}
								</td>
								<td>
									{{ solve.challenge.points }}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% else %}
			<p>No solves yet</p>
		{% endif %}
	</div>

</div>

{% endblock %}
