{% extends "base_generic.html" %}

{% load staticfiles %}

{% block title %}
	Scoreboard
{% endblock %}

{% block customcss %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/team.css' %}">
{% endblock %}

{% block heading %}
<div id="pageHeading">
	<p>Teams Scoreboard</p>
</div>
{% endblock %}

{% block content %}
	<div class="container">
		<div id="score">
			{% if team_scores %}
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Team Name</th>
							<th>Points</th>
							<th>Solves</th>
						</tr>
					</thead>
					<tbody>
						{% for t in team_scores %}
						<tr>
							<td>
								<a href="/score/{{ t.pk }}" style="color: #008cba;">{{ t.username }}</a>
							</td>
							<td>
								{{ t.points }}
							</td>
							<td>
								{{ t.solves }}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		{% else %}
			<p>There are no teams currently registered for the competition.</p>
		{% endif %}
	</div>
{% endblock %}
