{% extends "base_generic.html" %}

{% load staticfiles %}

{% block title %}
	Teams
{% endblock %}

{% block customcss %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/team.css' %}">
{% endblock %}

{% block heading %}
<div id="pageHeading">
	<p>Teams</p>
</div>
{% endblock %}

{% block content %}
  <div class="container">
    {% if teams%}
    <div id="teamList">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Team name</th>
              <th>Motto</th>
              <th>Website</th>
            </tr>
          </thead>
          <tbody>
            {% for team in teams %}
              <tr>
                <td> <a href="/team/{{ team.pk}}">{{ team.username }}</a> </td>
                <td>
									{% if team.motto %}<p>{{ team.motto }}</p>
									{% else %}<p>No Motto Specified</p>
									{% endif %}
								</td>
                <td>
									{% if team.website %}<p><a href={{ team.website }}>{{ team.website }}</a></p>
									{% else %}<p>No Website Specified</p>
									{% endif %}
								</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
		{% else %}
	    <p>There are no teams currently registered for the competition.</p>
	  {% endif %}
  </div>
{% endblock %}
