{% extends 'base_generic.html' %}

{% load staticfiles %}

{% block title %}
	Team Details
{% endblock %}

{% block customcss %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/team.css' %}">
{% endblock %}

{% block content %}

<div id="pageHeading">
	<p>{{ team.username | title }} 's Profile</p>
</div>

<div class="container">
	<div class="col-md-4 col-md-offset-4">

	  <h4>Motto:</h4>
		{% if team.motto %}<p>{{ team.motto }}</p>
		{% else %}<p>No Motto Specified</p>
		{% endif %}

		<h4>Website:</h4>
		{% if team.website %}<p><a href={{ team.website }}>{{ team.website }}</a></p>
		{% else %}<p>No Website Specified</p>
		{% endif %}

	  <h4>Description:</h4>
		{% if team.description%}<p>{{ team.description }}</p>
		{% else %}<p>No Description Specified</p>
		{% endif %}

		<h4>Score & Solves:</h4><p> <a href=/score/{{ team.pk }}>{{ team.username | title }}'s Score Details</p>
	</div>
</div>

{% endblock %}
