
{% extends 'base_generic.html' %}

{% load staticfiles %}

{% block title %}
	Register
{% endblock %}

{% block customcss %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<script>
	$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip();
	});
	</script>
{% endblock %}

{% block heading %}

{% endblock %}

{% block content %}

	<!-- Register here -->
	<div id="register">
		<div class="registerTop">
			<table>
				<tbody>
					<tr>
						<td style="border:0; border-bottom: 1px solid #888; color: #a3dc9c"><a href="{% url 'login' %}"><span>LOGIN</span></a></td>
						<td style="border-bottom: 0;"><a href=""><span>REGISTER</span></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="loginForm">
			<form method="post">
				{% csrf_token %}
				{% for field in form %}
					{% if field.help_text %}
					{% if field.name  != 'password1' %}
					<div data-toggle="tooltip" title="{{ field.help_text }}">
					{% else %}
						{# could not get this to work any other way #}
					<div data-toggle="tooltip" title="At least 8 characters, and it can't be all numeric, a common password, or too similar to your team name.">
					{% endif %}
					{% else %}
					<div>
					{% endif %}
						<label>{{ field.label }}</label>
						{{ field }}
						<strong>{{ field.errors }}</strong>
					</div>
				{% endfor %}
				{% include '_recaptcha.html' %}
				<button type="submit" name="submit" class="submitButton">Submit</button>
			</form>
		</div>
	</div>
{% endblock %}
