{% extends 'base_generic.html' %}

{% load staticfiles %}

{% block title %}
	Profile
{% endblock %}

{% block customcss %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/team.css' %}">
	<script>
	$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip();
	});
	</script>
{% endblock %}

{% block heading %}
	<div id="pageHeading">
		<p> {{ team.username | title }} Profile</p>
	</div>
{% endblock %}

{% block content %}
<div class="container">
	<div class="col-md-4 col-md-offset-4">
		<form action="" method="post">
			{% csrf_token %}
			{% for field in form %}
				{% if field.name  != 'password' %}
				{% if field.help_text %}
				<div class="form-group" data-toggle="tooltip" title="{{ field.help_text }}">
				{% else %}
				<div class="form-group">
				{% endif %}
					<label class="form-check-label">{{ field.label }}:</label>
					{{ field }}
					<strong>{{ field.errors }}</strong>
				</div>
				{% endif %}
			{% endfor %}
			<input type="submit" value="Submit">
		</form>
	</div>
</div>

{% endblock %}
