<!-- templates/_base_error_handler.html -->
{% extends 'base_generic.html' %}

{% load staticfiles %}

{% block title %}
CGSC IntroCTF
{% endblock %}

{% block content %}
	<div class="container">
		<div id="details">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					{% block error_handler %}
					<h2>Error!</h2>
					{% endblock %}
          <br>
          <img src="{% static 'img/404.jpg' %}">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<h3>The Basics:</h3>
					{% if request.user.is_authenticated %}
						<p>If you have a question, visit our forum section <a href="/forums/" target="_blank"><b>here.</b></a></p>
					{% else %}
						<p><a href="{% url 'login' %}">If you have an account, please login.</a></p>
						<p><a href="{% url 'team_register' %}">If not, please register (one account per team only).</a></p>
					{% endif %}
					{% if user.is_superuser %}
						<p>To add challenges admins/superusers will visit <b><a href="/challenges/admin/add" target="_blank">here</a></b></p>
						<p>You can also use django admin panel to edit/add challenges</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
