
{% if messages %}
<div id="messages" class="container">

      {% for message in messages %}
      <div {% if message.tags %} class="messages {{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          Error: {{ message | title }}
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING%}
          Warning: {{ message | title }}
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
          Success: {{ message | title }}
        <!-- {# {{ message }} #} -->
        {% endif %}
      </div>
      {% endfor %}

</div>
{% endif %}
