	<!-- Navigation bar -->
	<div id="navigationBar">
		<div class="container">
			<div class="navigationBarLeft">
				<ul>
					<li><a href="/">IntroCTF</a></li>
					<li class="des"><a href="{% url 'teams' %}">Teams</a></li>
					<li class="des"><a href="{% url 'scoreboard' %}">Scoreboard</a></li>
					<li class="des"><a href="{% url 'challenges' %}">Challenges</a></li>
				</ul>
			</div>
			<div class="navigationBarRight">
				<ul>
					<li id="navbarToggle">MENU</li>
					{% if request.user.is_authenticated %}


						<li class="des"><a href="{% url 'logout' %}">Logout</a></li>
						<li class="des"><a href="{% url 'team_update' %}">My Profile</a></li>
						<li class="des"><a href="{% url 'score' %}">My Score</a></li>
					{% else %}
						<li class="des"><a href="{% url 'login' %}">Login</a></li>
						<li class="des"><a href="{% url 'team_register' %}">Register</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
