{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width" , initial-scale=1, viewport-fit="cover">

		<title>{% block title %}IntroCTF{% endblock %}</title>

	<link rel="shortcut icon" href="{% static 'favicon.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/navigationbar.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
	<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

	{% block customcss %}
	{% endblock %}

</head>
<body>

	{% include '_nav_bar.html' %}
	{% block heading %}{% endblock %}
	{% block messages %}{% include '_errors.html' %}{% endblock %}
	{% block content %}{% endblock %}
	{% block footer %}{% endblock %}

	<script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>

</body>
</html>
