<!-- templates/index.html -->
{% extends 'base_generic.html' %}

{% load staticfiles %}

{% block title %}
CGSC IntroCTF
{% endblock %}

{% block content %}
	<div class="container">
		<div id="details">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<h3>Welcome to the CGSC IntroCTF</h3>
					<h5>This site is built on <a href="https://github.com/DivyanshuSahu/miniCTF" target="_blank">MiniCTF</a> - A Platform made in django for hosting Capture The Flag(CTF) event.</h5>
					<hr>
					<p>How to Play:</p>
					<ol>
						<li>Form yourself in teams of 2-4 players.</li>
						<li>Create a sweet team name.</li>
						<li><a href="{% url 'team_register' %}">Register</a> with said team name.</li>
						<li>Have fun solving awesome encoding challenges.</li>
						<li>Review the Intro to Crypto/Encoding Slides if stuck.</li>
					</ol>
					<p>Challenges are available in following categories:</p>
					<ol>
						<li>Cryptography (more to come for future meetings)</li>
					</ol>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<h3>The Basics:</h3>
					{% if request.user.is_authenticated %}
						<p>If you have a question, visit our forum section <a href="/forums/" target="_blank"><b>here.</b></a></p>
					{% else %}
						<p><a href="{% url 'login' %}">If you have an account, please login.</a></p>
						<p><a href="{% url 'team_register' %}">If not, please register (one account per team only).</a></p>
					{% endif %}
					{% if user.is_superuser %}
						<p>To add challenges admins/superusers will visit <b><a href="/challenges/admin/add" target="_blank">here</a></b></p>
						<p>You can also use django admin panel to edit/add challenges</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
