#register {
	width: 400px;
	max-width: 100%;
	height: auto;
	margin: 5% auto;
	box-shadow: 0px 0px 16px 8px rgba(0,0,0,0.5);
	padding: 20px;
}

.registerTop {
	width: 100%;
}

.registerTop td {
	width: 50%;
	text-align: center;
	height: 60px;
	font-size: 20px;
	color: #444;
	border: 1px solid #888;
	transition: 0.5s;
	font-weight: bold;
}

.registerForm {
	margin-top: 20px;
}

table {
	width: 100%;
}

span {
	display: inline-block;
	width: 100%;
}

input[type="text"], input[type="password"], input[type=email], input[type="url"], textarea {
	background-color: #dcdcdc;
	margin-bottom: 20px;
	border: 0;
	width: 100%;
	padding: 10px;
	margin-top: 2px;
	box-sizing: border-box;
}

input[type=text]:focus, input[type="password"]:focus, input[type=email]:focus, input[type="url"]:focus, textarea:focus {
	border: 2px solid #a3d39c;
	background-color: #fff;
}

label {
	margin-left: 10px;
	color: #444;
}

.submitButton {
	width: 100px;
	height: 40px;
	font-size: 20px;
	border: 2px solid #444;
	color: #222;
	background-color: #fff;
	transition: 0.5s;
}

.submitButton:hover {
	color: #fff;
	background-color: #444;
}

.g-recaptcha {
 margin-bottom: 10px;
}

.rc-anchor-normal .rc-anchor-checkbox-label {
    width: 152px;
}

.errorlist{
	color: #FF5733;
}

.messages {
	width: 80%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	vertical-align: middle;
	font-size: 16px;
	color: #fff;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5px;
}

.success
{
	background-color: #4caf50;
}
.error {
	background-color: #f44336;
}

.warning {
	background-color: #FFFF99;
	color: black;
}

#details {
	margin-top: 10%;
	padding: 0 5%;
}
